<div class="nav">
    <ul class="nav-list">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/pub">Publish</a>
        </li>
        <li>
            <a href="/map">Map</a>
        </li>
    </ul>
</div>